<!-- 
<form>
    <div class="form-group row">
      <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="email@example.com">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
        <label for="exampleFormControlFile1">Example file input</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
      </div>
  </form> -->
<br><br><br>
<div class="row; container"   *ngFor="let memoire of memoires">
  <div class="col-md-3">
    <img src="src/assets/img/image3.jpg" alt="image" style="width: 200px; margin-left: 50px;">
  </div>
  <div class="col-md-9">
    <p-panel header="TITRE" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
      {{memoire.titre}}
    </p-panel>
    <p-panel header="RESUME" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
      {{memoire.resume}}
    </p-panel>
    <br>
    <p-panel header="Abstract" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
      {{memoire.abstractMemoire}}
    </p-panel>
    
    <p-panel header="MOTSCLES" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
      {{memoire.motscles}}
    </p-panel>
    <p-panel header="NOMBRETELECHARGEMENT" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
      {{memoire.nombreTelechargement}}
    </p-panel>
  </div>
</div> 
<button type="button" pButton icon="pi pi-download" style="margin-right: 1000%;;"></button>



<!-- <form name="form1" id="form1" method="" action="">
  <table border="2" color="blue" length="6" width="7">
    <tr>
      <td>MATRICULE:</td>
      <td><input type="text" name="a"></td>
    </tr>
    <tr>
      <td>NOM:</td>
      <td><input type="text" name="b"></td>
    </tr>
    <tr>
      <td>PRENOM:</td>
      <td><input type="text" name="c"></td>
    </tr>
    <tr>
      <td>CLASSE:</td>
      <td><select name="CLASSE">
          <option value="op1">6eme </option>
          <option value="op2">5eme </option>
          <option value="op3">4eme </option>
          <option value="op4">3eme </option>
          <option value="op5">2eme </option>
          <option value="op6">1eme </option>
        </select>
    </tr>
    <tr>
      <td>SEXE:</td>
      <td><input type="radio" name="m"> masculin <br>
        <input type="radio" name="m">feminin</td>
    </tr>

    <tr>
      <td>CYCLE:</td>
      <td><input type="radio" name="un"> I
        <input type="radio" name="un">II</td>
    </tr>

    <tr>
      <td>SERIE:</td>
      <td><select name="SERIE">

          <option value="op1"> A4-Esp </option>
          <option value="op2"> A4-ALL </option>
          <option value="op3"> C </option>
          <option value="op4"> D </option>
        </select>
      </td>
    </tr>

    <tr>
      <td>AGE:</td>
      <td><select name="AGE">

          <option value="op9"> 9 </option>
          <option value="op10"> 10 </option>
          <option value="op11"> 11 </option>
          <option value="op12"> 12 </option>
          <option value="op13"> 13 </option>
          <option value="op14"> 14 </option>
          <option value="op15"> 15 </option>
          <option value="op16"> 16 </option>
          <option value="op17"> 17 </option>
          <option value="op18"> 18 </option>
        </select>
      </td>
    </tr>
    <td>questionnaire</td>
    <td><select></select></td>

  </table>

  <input name="Valider" type="submit" onClick="eval()" value="Valider">
  <input type="reset" value="annuler"> -->


<!-- <div class="col-md-9 container">
    <div class="row">
        <div class="col-md-4" style="margin-top: 20px;" *ngFor="let memoire of memoires">

            <p-card with="400">
                <p-header>
                    <div class="titre" style="margin-left: 10px; margin-top: 10px;"> <br>
                     
                    </div>
                    <br>
                </p-header>
                <div class="image"> <img src="src/assets/img/image3.jpg" alt="image"
                        style="width: 200px; margin-left: 50px;"></div>
                <p-footer>
                    <div class="bouton" style="margin-left: 50%;">
                        <button type="button" pButton icon="pi pi-download" style="margin-right: 10%;"></button>
                        <button type="button" pButton label="consulter" data-toggle="modal"
                            data-target="#myModal"></button>
                    </div>
                </p-footer>
            </p-card>
        </div>
    </div>
</div> -->

<!-- <br><br>
<div class="container">

  <form>

    <div class="form-group row">
      <div class="col-md-1">
        <label for="nom">TITRE </label>
      </div>
      <div class="col-md-6">
        <input type="text" class="form-control" id="nom" placeholder="entrez le titre">
      </div>
    </div>

    <div class="form-group row">
      <div class="col-md-1">
      <label for="diplome">diplome</label>
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control" id="diplome" placeholder="entrez le diplome">
    </div>
    </div>
    <div class="form-group row">
      <div class="col-md-1">
      <label for="session">sesion</label>
    </div>
    <div class="col-md-6">
      <input type="date" class="form-control" id="date" placeholder="entrez la session">
    </div>
    </div>
    <div class="form-group row">
      <div class="col-md-1">
      <label for="date">dateInsertion</label>
    </div>
    <div class="col-md-6">
      <input type="date" class="form-control" id="date" placeholder="entrez la date d'aujourd'hui ">
    </div>
    </div>
    <div class="form-group row">
      <div class="col-md-1">
      <label for="contenu">contenu</label>
    </div>
    <div class="col-md-6">
      <input type="text-area" class="form-control" id="contenu" placeholder="entrez le contenu du memoire">
    </div>
    </div>
    <div class="form-group row">
      <div class="col-md-1">
      <label for="ABSTRACT">abstract</label>
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control" id="abstract" placeholder="entrez l'abstract">
    </div>
    </div>
    <div class="form-group row">
      <div class="col-md-4">
      <label for="exampleFormControlFile1">choisir le memoire a inserrer</label>
    </div>
    <div class="col-md-6">
      <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-left: 300px;"> Ajouter</button>
  </form>
</div> -->