<nav class="navbar" style="background-color: aqua;;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <div class="pull-right">

            <ul class="nav navbar-nav">
                <!-- <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1 <span
                            class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Page 1-1</a></li>
                        <li><a href="#">Page 1-2</a></li>
                        <li><a href="#">Page 1-3</a></li>
                    </ul>
                </li> -->
                <li class="dropdown" style="margin-top: 8px;">
                    <p-dropdown [options]="cities1"></p-dropdown>
                </li>
                <li style="margin-top: 8px;">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-6" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="row" style="margin-top: -20px;">
    <div class="col-md-3" style="background: #00ffff ; height: 1000px; width: 270px;">

        <!-- <button pButton type="button" (click)="visibleSidebar1 = true" icon="pi pi-arrow-right"></button> -->
        <h1 style="font-weight:normal">MEMOIRE</h1>
        <br>
        <div class="dropdown" id="menuDrop" style="margin-top: 10px;">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" (click)="showMenu('menuDrop')">
                INGENIEUR DE TRAVAUX
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#" title="Lien 1">INFOTEL</a></li>
                <li><a href="#" title="Lien 2">GCA</a></li>
                <li><a href="#" title="Lien 3">ENREN </a></li>
                <span role="separator" class="divider"></span>
                <li><a href="#" title="Lien 4">AGEP </a></li>
            </ul>
        </div>
        <br><br><br><br><br><br><br><br>

        <div class="dropdown" id="menuDrop">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" (click)="showMenu('menuDrop')">
                INGENIEUR DE CONCEPTION
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#" title="Lien 1">INFOTEL </a></li>
                <li><a href="#" title="Lien 2">GCA </a></li>
                <li><a href="#" title="Lien 3">ENREN </a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#" title="Lien 4">AGEP </a></li>
            </ul>
        </div>
    </div>


    <div class="col-md-9 container">
        <div class="row">
            <div class="col-md-4" style="margin-top: 20px;" *ngFor="let memoire of memoires">

                <p-card with="400">
                    <p-header>
                        <div class="titre" style="margin-left: 10px; margin-top: 10px;">TITRE:{{memoire.titre}} <br>
                            Encadreur: nddguw9qeytcwtr39wyskk
                        </div>
                        <br>
                    </p-header>
                    <div class="image"> <img src="src/assets/img/image3.jpg" alt="image"
                            style="width: 200px; margin-left: 50px;"></div>
                            <h4> session: {{memoire.session}}</h4>
                    <p-footer>
                        <div class="bouton" style="margin-left: 50%;">
                            <button type="button" pButton icon="pi pi-download" style="margin-right: 10%;"></button>
                            <button type="button" pButton label="consulter" data-toggle="modal"
                                data-target="#myModal"></button>
                        </div>
                    </p-footer>
                </p-card>
            </div>
        </div>
    </div>
     

                <div class="container">
                    <div class="modal fade" id="myModal" role="dialog" *ngFor="let memoire of memoires">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title"> detail sur le memoire</h4>
                                </div>
                                <div class="modal-body">
                                <div class="row">
                                  
                                        <img src="src/assets/img/image3.jpg" alt="image" style="width: 200px; margin-left: 50px;"></div>
                                        <br><br>
                                        <p-panel header="TITRE" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
                                            {{memoire.titre}}
                                          </p-panel>
                                    <p-panel header="RESUME" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
                                        {{memoire.resume}}
                                      </p-panel>
                                      <p-panel header="Abstract" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
                                        {{memoire.abstractMemoire}}
                                      </p-panel>
                                      <p-panel header="MOTSCLES" [toggleable]="true" [style]="{'margin-bottom':'20px'}">
                                        {{memoire.motsCles}}
                                      </p-panel>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" pButton icon="pi pi-download" style="margin-right: 10%;"></button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>